button {
    width: 200px;
    height: 40px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: black;
}

#container {
    display: flex;
    flex-wrap: nowrap;
}